[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
boto3 = "*"
localstack = "*"
pylint = "*"
isort = "*"
black = "*"
pre-commit = "*"
polars = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
